
/* colors */

$darker-blue = #25282b
$dark-blue = #313438

$gray = #5d5f61
$red = #dd5247
$white = #fffffe

$caucasian = #f0d5be
$black = #704139
$asian = #e5b887
$natives = #ad6452
$hispanic = #db9065


transitioned()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

rounded()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

unselectable()
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none
  user-select none

