
/* colors */

$darker-blue = #1c1e20
$dark-blue = #25282b
$blue = #313438

$gray = #5d5f61
$red = #dd5247
$white = #fffffe

$caucasian = #7b7d80
$black = #ce85c3
$asian = #68b5d3
$natives = #cee437
$hispanic = #ee4952


transitioned()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

rounded()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

unselectable()
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none
  user-select none

