
/* colors */

$darker-blue = #25282b
$dark-blue = #313438

$gray = #5d5f61
$red = #dd5247
$white = #fffffe

$caucasian = #dbd7b0
$black = #4c4441
$asian = #dd5247
$nativeamerican = #dd734e
$hispanic = #a58275


transitioned()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

rounded()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

