body {
text-align: center;
background-color: #fff;
}

#header {
	width: 100%;
	text-align: center;
	margin-bottom: -40px;
}

#header h3 {
	font: normal 2em arial, sans-serif;
	text-align: center;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
#map {
  width: 960px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
